@import "../_globalColor";

.project-tab {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #000; /* Add border style */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
  min-height: 400px; /* Ensure minimum height */
  width: 100%; /* Ensure it takes full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */

  @media (max-width: 1380px) {
    padding: 15px;
    margin: 15px 0;
    min-height: 350px;
  }

  @media (max-width: 768px) {
    padding: 2px;
    margin: 2px 0;
    min-height: 300px;
  }
}

.project-experience-container {
  padding: 20px;
  margin: 20px 0;
  border: 0px solid #000; /* Add border style */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
  min-height: 500px; /* Ensure minimum height */
  width: 100%; /* Ensure it takes full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */

  @media (max-width: 1380px) {
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    min-height: 400px;
  }

  @media (max-width: 768px) {
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    min-height: 300px;
  }
}

.media-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  @media (max-width: 1380px) {
    margin: 8px 0;
    padding: 8px;
  }

  @media (max-width: 768px) {
    margin: 6px 0;
    padding: 6px;
  }
}

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sexy-project-title {
  text-align: center;
  font-size: 3em; /* Increase the font size */
  font-family: "Arial", sans-serif; /* Use a nice font, you can choose another one */
  font-weight: bold;
  color: #cdc6c6; /* A nice color, you can adjust as needed */
  margin-top: 40px; /* Space above the title */
  margin-bottom: 20px; /* Space below the title */

  @media (max-width: 1380px) {
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.project-text {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px; /* Ensure consistent spacing */

  @media (max-width: 1380px) {
    font-size: 0.95em;
    margin-bottom: 18px;
  }

  @media (max-width: 768px) {
    font-size: 0.9em;
    margin-bottom: 15px;
  }
}

.project-image,
.project-video {
  margin-bottom: 20px; /* Ensure consistent spacing */

  @media (max-width: 1380px) {
    width: 80%;
    height: auto;
    margin-bottom: 18px;
  }

  @media (max-width: 768px) {
    width: 90%;
    height: auto;
    margin-bottom: 15px;
  }
}

.previous-project-button,
.next-project-button {
  position: fixed;
  top: 10%;
  transform: translateY(180%);
  z-index: 1000;
  padding: 10px 20px;
  height: 200px; /* Adjust this value to make the buttons taller */
  width: 200px; /* Adjust this value to make the buttons wider */
  background-color: #55198b;
  color: white;
  border: none;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */

  @media (max-width: 1380px) {
    height: 175px;
    width: 175px;
    padding: 8px 16px;
  }

  @media (max-width: 768px) {
    display: none; /* Hide buttons on mobile */
  }
}

.previous-project-button:hover,
.next-project-button:hover {
  background-color: #555; /* Slightly lighter background on hover */
}

.previous-project-button {
  left: 10px;
}

.next-project-button {
  right: 10px;
}

.sexy-project-name {
  font-size: 3.5rem; // Larger font size
  font-weight: bold; // Bold text
  text-align: center; // Center aligned
  text-transform: uppercase; // Uppercase text
  letter-spacing: 5px; // Spacing between letters
  margin: 20px 0; // Margin for spacing
  padding: 10px; // Padding for extra spacing
  border: 5px solid #55198b; // Border with the same color
  border-radius: 10px; // Rounded corners
  background-color: rgba(
    85,
    25,
    139,
    0.1
  ); // Slight background color with opacity
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Subtle shadow for depth

  // Animation for hover effect
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05); // Slightly larger on hover
    background-color: rgba(85, 25, 139, 0.2); // Darker background on hover
  }

  @media (max-width: 1380px) {
    font-size: 3rem;
    padding: 8px;
    margin: 18px 0;
  }

  @media (max-width: 768px) {
    font-size: 2.5rem;
    padding: 6px;
    margin: 16px 0;
  }
}

// Define base styles for media items
.media-text {
  width: 70%;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;

  @media (max-width: 768px) {
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 15px;
  }
}

.media-image {
  width: 70%;
  height: auto;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.media-video {
  width: 70%;
  height: 600px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 100%;
    height:auto;
    margin-bottom: 15px;
  }
}
