@import "../_globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sexy-project-title {
  text-align: center;
  font-size: 3em; /* Increase the font size */
  font-family: 'Arial', sans-serif; /* Use a nice font, you can choose another one */
  font-weight: bold;
  color: #cdc6c6; /* A nice color, you can adjust as needed */
  margin-top: 40px; /* Space above the title */
  margin-bottom: 20px; /* Space below the title */
}

.project-text {
  font-size: 1.0em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px; /* Ensure consistent spacing */
}

.project-image, .project-video {
  margin-bottom: 20px; /* Ensure consistent spacing */
}

.previous-project-button, .next-project-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  padding: 10px 20px;
  background-color: #6600FF;
  color: white;
  border: none;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.previous-project-button:hover, .next-project-button:hover {
  background-color: #555; /* Slightly lighter background on hover */
  transform: translateY(-50%) scale(1.05); /* Slightly larger on hover */
}

.previous-project-button {
  left: 10px;
}

.next-project-button {
  right: 10px;
}